<app-deafult-login-layout
   title="Registre e comece hoje"
   primaryBtnText="Registrar"
   secondaryBtnText="Entrar"
   (submit)="submit()"
   (navigate)="navigate()"
   [disablePrimaryBtn]="!signupForm.valid"
>
   <form [formGroup]="signupForm">
   
   <app-primary-input 
   formControlName="name"
   inputName="name"
   type="text"
   label="nome"
   placeholder="seu Nome"
>
   <img src="/assets/svg/email-icon.svg">
</app-primary-input>   
   
   
   
   <app-primary-input 
         formControlName="email"
         inputName="email"
         type="email"
         label="email"
         placeholder="seuNome@gmail.com"
      >
         <img src="/assets/svg/email-icon.svg">
      </app-primary-input>

      <app-primary-input 
      formControlName="password"
      inputName="password"
      type="password"
      label="senha"
   >
      <img src="/assets/svg/password-icon.svg">
   </app-primary-input>

   <app-primary-input 
   formControlName="passwordConfirm"
   inputName="passwordConfirm"
   type="password"
   label="Confirmar senha"
>
   <img src="/assets/svg/password-icon.svg">
</app-primary-input>
   </form>
</app-deafult-login-layout>