.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    gap: 6rem;
  }
  
  .navbar-logo img {
    width: 50px;
    height: 50px;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    gap: 4rem;
    margin: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  .navbar-user {
    font-size: 1.2rem;
  }