<app-nav-bar></app-nav-bar>
<div class="animal-form">
  <div class="image-upload">
    <label for="fileInput">
      <div *ngIf="imagePreview as preview; else placeholder" class="image-preview">
        <img [src]="preview" alt="Preview do animal" />
      </div>
      <ng-template #placeholder>
        <div class="image-placeholder">Clique para adicionar imagem</div>
      </ng-template>
    </label>
    <input type="file" id="fileInput" (change)="onImageSelected($event)" hidden />
  </div>

  <form [formGroup]="animalForm" (ngSubmit)="onSubmit()" class="animal-details">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" formControlName="nome" placeholder="Digite o nome do animal"/>
    </div>

    <div class="form-group">
      <label>Espécie</label>
      <select formControlName="especie">
        <option value="">Selecione</option>
        <option value="CACHORRO">Cachorro</option>
        <option value="GATO">Gato</option>
      </select>
    </div>

    <div class="form-group" *ngIf="showRacas">
    <label for="raca">Raça:</label>
    <select id="raca" formControlName="raca">
      <option value="">Selecione</option>
      <option value="LABRADOR">Labrador</option>
      <option value="PASTOR_ALEMAO">Pastor Alemão</option>
      <option value="POODLE">Poodle</option>
      <option value="BULLDOG">Bulldog</option>
      <option value="OUTRA">Outra</option>
    </select>
  </div>

    <div class="form-group">
      <label>Sexo</label>
      <select formControlName="sexo">
        <option value="">Selecione</option>
        <option value="MACHO">Macho</option>
        <option value="FEMEA">Fêmea</option>
      </select>
    </div>

    <div class="form-group">
      <label>Tamanho</label>
      <select formControlName="tamanho">
        <option value="">Selecione</option>
        <option value="PEQUENO">Pequeno</option>
        <option value="MEDIO">Médio</option>
        <option value="GRANDE">Grande</option>
      </select>
    </div>

    <div class="form-group">
      <label>Cor</label>
      <select formControlName="tamanho">
        <option value="">Selecione</option>
        <option value="BRANCO">Branco</option>
        <option value="CINZA">Cinza</option>
        <option value="PRETO">Preto</option>
        <option value="MARROM">Marrom</option>
        <option value="CARAMELO">Caramelo</option>
        <option value="OUTRA">Outra</option>
      </select>
    </div>

    <div class="form-group">
      <label>Idade</label>
      <input type="number" formControlName="idade" min="0" />
    </div>

    <div class="form-group full-width">
      <label>Descrição</label>
      <textarea formControlName="descricao" rows="4" placeholder="Digite as características, história ou especificidades do animal"></textarea>
    </div>

    <button type="submit">Cadastrar</button>
  </form>
</div>