<app-nav-bar></app-nav-bar>
<div class="banner-wrapper">
  <div class="banner-container">
    <img src="assets/png/pets-removebg-preview.png" alt="Banner">
    <div>
      <h1>Mais Um Amigo</h1>
      <h2>100% a mais de diversão</h2>
      <p>
        Ter um animal de estimação significa ter mais alegria, um novo amigo, <br>
        uma companhia feliz que estará sempre com você para se divertir. <br>
        Temos mais de 200 pets diferentes que precisam de um novo lar!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <aside class="filter">
    <h3>Filtro</h3>

    <label for="especie">Espécie</label>
    <select id="especie" name="especie" (change)="onEspecieChange($event)">
      <option value="">Selecione</option>
      <option value="CACHORRO">Cachorro</option>
      <option value="GATO">Gato</option>
      <option value="AVES">Aves</option>
      <option value="COELHO">Coelho</option>
      <option value="EQUINOS">Equinos</option>
    </select>

    <label for="raca" *ngIf="mostrarRacas">Raça</label>
    <select id="raca" name="raca" *ngIf="mostrarRacas" (change)="onRacaChange($event)">
      <option value="">Selecione</option>
      <option value="LABRADOR">Labrador</option>
      <option value="PASTOR_ALEMAO">Pastor Alemão</option>
      <option value="POODLE">Poodle</option>
      <option value="BULLDOG">Bulldog</option>
      <option value="OUTRA">Outra</option>
    </select>

    <div class="linha"></div>

    <div class="filter-group">
      <label>Gênero</label>
      <div>
        <input type="checkbox" id="genero-macho" value="MACHO" (change)="onCheckChange($event, 'genero')">
        <label for="genero-macho">Macho</label>
      </div>
      <div>
        <input type="checkbox" id="genero-femea" value="FEMEA" (change)="onCheckChange($event, 'genero')">
        <label for="genero-femea">Fêmea</label>
      </div>
    </div>

    <div class="linha"></div>

    <div class="filter-group">
      <label>Cor</label>
      <div *ngFor="let cor of coresDisponiveis">
        <input type="checkbox" [id]="'cor-' + cor" [value]="cor" (change)="onCheckChange($event, 'cor')">
        <span class="color-dot" [ngClass]="cor.toLowerCase()"></span> {{ cor }}
      </div>
    </div>


    <div class="linha"></div>

    <div class="filter-group">
      <label>Idade</label>
      <input type="number" min="0" placeholder="Min" (input)="onIdadeChange('min', $event)">
      <input type="number" max="100" placeholder="Max" (input)="onIdadeChange('max', $event)">
    </div>

    <div class="linha"></div>

    <div class="filter-group">
      <label>Tamanho</label>
      <div><input type="checkbox" value="PEQUENO" (change)="onCheckChange($event, 'tamanho')"> Pequeno</div>
      <div><input type="checkbox" value="MEDIO" (change)="onCheckChange($event, 'tamanho')"> Médio</div>
      <div><input type="checkbox" value="GRANDE" (change)="onCheckChange($event, 'tamanho')"> Grande</div>
    </div>
  </aside>

  <main class="animal-cards">
    <div class="card" *ngFor="let animal of animaisPaginados">
      <img [src]="animal.fotoUrl || 'assets/png/pets-removebg-preview.png'" [alt]="animal.nome">
      <div class="card-info">
        <h4>{{ animal.nome }}</h4>
        <p>Sexo: {{ animal.sexo }} - Idade: {{ animal.idade }} {{ animal.idade === 1 ? 'ano' : 'anos' }}</p>
        <button>Saiba mais</button>
      </div>
    </div>
  </main>
</div>
<div class="pagination-controls">
  <button (click)="paginaAnterior()" [disabled]="paginaAtual === 0">Anterior</button>
  <button (click)="proximaPagina()"
    [disabled]="(paginaAtual + 1) * itensPorPagina >= animaisFiltrados.length">Próxima</button>
</div>