@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #dcd7f8;
    --text-dark: #3f3b57;
    --text-light: #908ca3;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: 1200px;
    padding: 5rem 1rem;
    margin: auto;
}

.section__subheader {
    font-size: 1.2rem;
    font-weight: 500;
    color: #908ca3;
}

.section__header {
    font-size: 2.5rem;
    font-weight: 500;
    color: #3f3b57;
    text-align: center;
    line-height: 3.5rem;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.nav__logo a {
    font-size: 1.2rem;
    font-weight: 700;
    color: #3f3b57;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: #3f3b57;
    cursor: pointer;
}

.nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #ffffff;
    transition: transform 0.5s;
    z-index: -1;
}

.nav__links.open {
    transform: translateY(100%);
}

.nav__links a {
    font-weight: 500;
    color: #3f3b57;
}

.nav__links a:hover {
    color: #dcd7f8;
}

header {
    padding-top: 5rem;
    position: relative;
    isolation: isolate;
    background-color: #dcd7f8;
}

.header__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    z-index: -1;
}

.header__container {
    padding-block: 2rem 0;
    display: grid;
    gap: 2rem;
}

.header__content h4 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 5px 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #3f3b57;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: #3f3b57;
    text-align: center;
}

.header__content h1 span {
    font-size: 5rem;
}

.header__content h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #3f3b57;
    text-align: center;
}

.header__content p {
    margin-bottom: 2rem;
    color: #3f3b57;
    text-align: center;
}

.header__btn button {
    padding-block: 0.5rem;
    padding-inline: 1.5rem 0.5rem;
    margin-bottom: 20px;
    margin-inline: auto;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #3f3b57;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
}

.header__btn button span {
    padding: 5px 7px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.header__btn button:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}

.header__btn button:hover span {
    background-color: rgba(0, 0, 0, 0.4);
}

.header__image {
    position: relative;
    isolation: isolate;
}

.header__image img {
    max-width: 400px;
    margin-inline: auto;
}

img.header__image-bg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 200px !important;
    z-index: -1;
}

.section__container__filter__horizontal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: 95%;
    margin: 40px auto;
    padding: 20px;
    background-color: #dcd7f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter__pets {
    display: contents;
}

.filter__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter__label {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
    grid-column: span 1;
}

.especies__select,
.races__select,
.color__select,
.tamanho__select,
.sexo__select,
.idade__select,
.button__search,
.button__clear {
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ffffff;
    text-align: center;
    width: 15vw;
}

.especies__select,
.races__select,
.color__select,
.tamanho__select,
.sexo__select,
.idade__select {
    border: none;
    background-color: #ffffff;
}


.button__search {
    margin: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #3f3b57;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button__search:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}

.button__clear {
    margin: 25px;
    background-color: #ffffff;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.button__clear:hover {
    background-color: #e2e6ea;
}

.section__container__filter__vertical {
    display: grid;
    grid-template-columns: 1fr;
    gap: 26px;
    width: 350px;
    margin: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #dcd7f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.idade__content{
    margin: 20px;
    font-weight: 500;
    color: #3f3b57;
    text-align: center;
}


@media (width > 540px) {
    .header__content h1 {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .header__content h1 span {
        font-size: 6rem;
    }
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header {
        padding: 0;
        background-color: transparent;
    }

    .nav__logo a {
        font-size: 1.5rem;
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        transform: none;
    }

    header {
        padding-top: 0;
    }

    .header__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header__content {
        grid-area: 1/2/2/3;
    }

    .header__content :is(h4, .header__btn button) {
        margin-inline-start: unset;
    }

    .header__content :is(h1, h2) {
        text-align: left;
    }

    .header__content p {
        max-width: 400px;
        text-align: left;
    }

    .header__image img {
        max-width: 500px;
    }


    .main_body_container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;

        
        .animal_card_container {
            height: 670px;
            width: 80%;
        }
    }

    .main_body_container {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 20px;
      }
      
      .section__container__filter__vertical {
        width: 20%;
        min-width: 200px;
      }
      
      .animal_card_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;
        
      }
      
      .animal-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        background-color: #ffffff;

        img {
            height: 160px;
            width: auto;
            margin: auto;
            margin-bottom: 10px;
        }
      }
      
      .pagination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 10%;
      }
      
}